.nav {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-family: var(--font-alt);
}
.logo {
  width: 12rem;
  z-index: 999;
}
.logo img {
  width: 100%;
}
.navbar-link {
  display: flex;
  justify-content: center;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  cursor: pointer;
}
.nav-links li {
  list-style-type: none;
  font-weight: 400;
}
.login {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
}
.login li {
  list-style-type: none;
  font-weight: 600;
}
.mobile-icon {
  cursor: pointer;
  display: none;
  z-index: 999;
}
.navbar {
  display: none;
}

/* Media Queries for the navbar */
@media (max-width: 992px) {
  .navbar-link {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    transition: 0.5s ease;
  }
  .navbar-End {
    position: fixed;
    top: -100%;
  }
  .nav-links {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }
  .nav-links li {
    list-style-type: none;
  }
  .login {
    display: none;
  }
  .mobile-icon {
    display: block;
  }
}
